@tailwind base;
@tailwind components;
@tailwind utilities;

.serif {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}